<!DOCTYPE html>
<html>
<head>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73116715-1', 'auto');
  ga('send', 'pageview');

</script>
<style>
    div.art {
      position:fixed;
      top: 15%;
      left: 25%;
      align-content: left;
    }
    p.art {
      line-height: 0.2;
    }
</style>
</head>
<body>
<div class="art">
<p class="art">
<pre>
  <code>
{{ art }}
      Updated hourly.
  </code>
</pre>
</p>
</div>
<p>
    <a href="http://superuser.com/questions/22535/what-is-randomart-produced-by-ssh-keygen" />What</a> is randomart?
</p>
</body>
</html>
